.head{
	text-align: center;
	min-height: 150px;
	color:black;
	/*background: url('../images/nerd2.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
}

body{
	background-image: url('../images/nerd2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  font-style: italic;
	font-family: fantasy;
	font-size-adjust:
}
